.main .awesome-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 250px;
}

.main .awesome-section .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .awesome-section .text-container {
  display: grid;
  grid-template-rows: 205px 1fr;
}

.main .awesome-section .text-container .title-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main .awesome-section .text-container .title-container p {
  text-align: left;
  margin-top: 18px;
}

.main .awesome-section .text-container .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.main .awesome-section .text-container .icon-container .icon-1 h2 {
  color: var(--secondColor1);
}

.main .awesome-section .text-container .icon-container .icon-2 h2 {
  color: var(--secondColor2);
}

.main .awesome-section .text-container .icon-container .icon-3 h2 {
  color: var(--secondColor3);
}

.main .awesome-section .text-container h2 {
  text-align: left;
}

.main .awesome-section .text-container .icon-container .icons {
  display: flex;
  gap: 30px;
}

.main .awesome-section .text-container .icon-container h2 {
  font-size: 16pt;
  margin-bottom: 10px;
}

.main .awesome-section .text-container p {
  text-align: left;
  font-size: 11pt;
}
